<div class="container">
    <form [formGroup]="handleFormService.candidateQuestions">
        <div>
            <label class="question-title">Are you allow to work in this country?</label>
            <span class="asterick">*</span>
        </div>
        <mat-radio-group formControlName="allowToWork">
            <mat-radio-button color="primary" value="Yes">Yes</mat-radio-button>
            <mat-radio-button color="primary" value="No">No</mat-radio-button>
        </mat-radio-group>
        <div>
            <label class="question-title">Have you been previously employed by ThisCompany?</label>
            <span class="asterick">*</span>
        </div>
        <mat-radio-group formControlName="prevEmployed">
            <mat-radio-button color="primary" value="Yes">Yes</mat-radio-button>
            <mat-radio-button color="primary" value="No">No</mat-radio-button>
        </mat-radio-group>
        <label class="question-title">Select a gender</label>
        <mat-radio-group formControlName="gender">
            <mat-radio-button color="primary" value="Male">Male</mat-radio-button>
            <mat-radio-button color="primary" value="Female">Female</mat-radio-button>
        </mat-radio-group>
        <label class="question-title">From what platform did you applied?</label>
        <div class="job-board-container">
            <mat-form-field placeholder="Job Board" class="job-board-option">
                <mat-label>Job Board</mat-label>
                <mat-select formControlName="appliedPlatform">
                    <div *ngFor="let jobBoard of jobBoardsList">
                        <mat-option [value]="jobBoard">{{jobBoard}}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</div>