@import "../../../styles/colors.scss";

.container {
    height: 100%;
    overflow: auto;
}

.question-title {
    color: $text-color;
    font-size: 18px;
    @media (max-width: 410px){
        font-size: 15px;
    }
}

.job-board-container {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.job-board-option {
    height: 35px;
    width: 250px;
    margin-top: 10px;
    max-height: 35px;
    font-size: 14px !important;
}

.asterick {
    color: red;
  }
