@import "../../../styles/styles.scss";

.container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 80%;
}

.items-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: 600px){
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.delete-button {
    width: 90px;
    margin: 15px 0;
    background-color: $danger-red;
    color: $light_text;
    @media (max-width: 410px){
        height: 35px;
        width: 85px;
        font-size: 12px !important;
    }
}

.add-button {
    width: 90px;
    margin: 15px 0;
    background-color: $passive-blue;
    color: $light_text;
    @media (max-width: 410px){
        height:35px;
        width: 85px;
        font-size: 12px !important;      
    }
}

.link-form {
    margin-right: 15px !important;
}

@media (max-width: 600px){
    .form-container {
        width: 100%;
}}
