@import "../../../styles/styles.scss";

.container {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    width: 80%;
}

.items-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.delete-button {
    width: 90px;
    margin: 15px 0;
    background-color: $danger-red;
    color: $light_text;
}

.add-button {
    width: 90px;
    margin: 15px 0;
    background-color: $passive-blue;
    color: $light_text;
}

.link-form {
    margin-right: 15px !important;
}
