<div class="container">
  <div class="content">
    <div class="title-container">
      <h1 class="title">Candidate Recruitment Form</h1>
    </div>
    <div class="progress-bar-container">
      <mat-progress-bar mode="determinate" [value]="handleProgressBar()"></mat-progress-bar>
    </div>
    <div class="steps-container">
      <app-candidate-form *ngIf="handleFormService.formStep === 0 || handleFormService.formStep === 1">
      </app-candidate-form>
      <app-candidate-questions *ngIf="handleFormService.formStep === 2"></app-candidate-questions>
      <app-candidate-submit *ngIf="handleFormService.formStep === 3"></app-candidate-submit>
    </div>
    <div class="button-container">
      <button (click)="handleButtonStep('prev')" class="previouse-button"
        [disabled]="handleFormService.isPrevButtonDisabled" mat-raised-button>Previouse Step</button>
      <button *ngIf="handleFormService.formStep !== 3" (click)="handleButtonStep('next')" color="warn"
        mat-raised-button>Next Step</button>
      <button *ngIf="handleFormService.formStep === 3" color="warn" mat-raised-button>Send Application</button>
    </div>
    <div class="error-container">
      <mat-error *ngIf="!handleFormService.isFormValid">
        {{validationErrorMsg}}
      </mat-error>
    </div>
  </div>
</div>