@import "../../../styles/colors.scss";

.container {
    height: 100%;
    overflow: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.data-container {
    height: 65px;
    width: 50%;
    display:flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
}

.item-container {
    align-items: center;
    display: flex;
    h6 {
        color: $text-color;
        margin: 0;
        font-size: 18px;
        font-weight: 100;
    }
    p {
        color: $text-color;
        font-size: 15px;
        margin-left: 10px;
    }
}

.multiple-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    h6 {
        color: $text-color;
        margin: 0;
        font-size: 18px;
        font-weight: 100;
    }
    p {
        color: $text-color;
        font-size: 15px;
        margin-left: 10px;
    }
}