<div *ngIf="mockReadyData" class="container">
    <div class="data-container" *ngFor="let data of mockReadyData">
        <div *ngIf="isStringValue(data.value)" class="item-container">
            <label>{{data.name}}: </label>
            <p>{{data.value}}</p>
        </div>
        <div *ngIf="!isStringValue(data.value) && data.name === 'Links'" class="multiple-data"
            [ngStyle]="data.value.length === 0 && {'justify-content': 'center'}">
            <label>{{data.name}}: </label>
            <p *ngFor="let item of data.value">{{item.link}}</p>
        </div>
        <div *ngIf="!isStringValue(data.value) && data.name === 'Attachements'"
            [ngStyle]="data.value.length === 0 && {'justify-content': 'center'}" class="multiple-data">
            <label>{{data.name}}: </label>
            <p *ngFor="let item of data.value">{{item.file.name}}</p>
        </div>
    </div>
</div>