@import "../../../styles/colors.scss";

.container {
    height: 100%;
    overflow: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow: auto;
    @media (max-width: 410px){
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}

.data-container {
    height: 65px;
    width: 50%;
    display:flex;
    align-items: center;
    overflow: auto;
    justify-content: center;
    @media (max-width: 410px){
        height: 50px;
        width: 100%;
    }
}

.item-container {
    align-items: center;
    display: flex;
    h6 {
        color: $text-color;
        margin: 0;
        font-size: 18px;
        font-weight: 100;
        font-size: $text-color;
        @media (max-width: 410px){
            font-size: 15px;
            margin: 0;
        }
    }
    p {
        color: $text-color;
        font-size: 15px;
        margin-left: 10px;
        font-size: $text-color;
        @media (max-width: 410px){
            font-size: 13px;
            margin: 0;
        }
    }
}

.multiple-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    h6 {
        color: $text-color;
        margin: 0;
        font-size: 18px;
        font-weight: 100;
        font-size: $text-color;
        @media (max-width: 410px){
            font-size: 15px;
            margin: 0;
        }
    }
    p {
        color: $text-color;
        font-size: 15px;
        margin-left: 10px;
        font-size: $text-color;
        @media (max-width: 410px){
            font-size: 13px;
            margin: 0;
        }
    }
}